<a href="https://colab.research.google.com/github/mukeshyadav4747/20july.mukesh/blob/main/train_test_split_data_divide.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Complete data -----> divide

# 100 students ----> 70 students(in class) , 30 students(out class)
# 70 students(train)----> trained----> 30 students(test)---> testing

# Df ----> x(input data) + y(target data)
# x -----> x_train + x_test
# y -----> y_train + y_test

# Machine (x_train , y_train)
# Machine(x_test)----> output ???------> prediction_data(y_pred)
# Actual_output(y_test)

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv("/content/placement.csv")
df.head(3)

   cgpa  placement_exam_marks  placed
0  7.19                  26.0       1
1  7.46                  38.0       1
2  7.54                  40.0       1

In [ ]:
df.shape

(1000, 3)

In [ ]:
x = df.drop(columns=['placed'])    # Input data
x.shape

(1000, 2)

In [ ]:
y= df['placed']   # Target data
y.shape

(1000,)

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [ ]:
print('Total df:',df.shape)
print("-----------------------")
print("Input data shape(x):",x.shape)
print("x_train data shape:",x_train.shape)
print("x_test data shape:",x_test.shape)
print("-----------------------")
print("Traget data shape(y):",y.shape)
print("y_train data shape:",y_train.shape)
print("y_test data shape:",y_test.shape)
print("---------------------")

Total df: (1000, 3)
-----------------------
Input data shape(x): (1000, 2)
x_train data shape: (800, 2)
x_test data shape: (200, 2)
-----------------------
Traget data shape(y): (1000,)
y_train data shape: (800,)
y_test data shape: (200,)
---------------------

In [ ]:
# df(100,3) = x(100,2) + y(100,1)

# x(100,2) = x_train(80,2) + x_test(20,2)

# y(100,1) = y_train(80,1) + y_test(20,1)

In [ ]:
df = pd.read_csv("/content/covid_toy.csv")
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [ ]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [ ]:
df= df.dropna()
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [ ]:
df.shape

(90, 6)

In [ ]:
x = df.drop(columns=['has_covid'])     # Input data
x.shape

(90, 5)

In [ ]:
y = df['has_covid']   # Target data
y.shape

(90,)

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [ ]:
print('Total df:',df.shape)
print("-----------------------")
print("Input data shape(x):",x.shape)
print("x_train data shape:",x_train.shape)
print("x_test data shape:",x_test.shape)
print("-----------------------")
print("Traget data shape(y):",y.shape)
print("y_train data shape:",y_train.shape)
print("y_test data shape:",y_test.shape)
print("---------------------")

Total df: (90, 6)
-----------------------
Input data shape(x): (90, 5)
x_train data shape: (72, 5)
x_test data shape: (18, 5)
-----------------------
Traget data shape(y): (90,)
y_train data shape: (72,)
y_test data shape: (18,)
---------------------

In [ ]:
# df(90,6) = x(90,5) + y(90,1)

# x(90,5) = x_train(72,5) + x_test(18,5)

# y(90,1) = y_train(72,1) + y_test(18,1)

In [ ]:
df = pd.read_csv("/content/Attrition - Attrition.csv")
df.head(3)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0

In [ ]:
df.shape

(1470, 35)

In [ ]:
df.isnull().sum()

Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [ ]:
x = df.drop(columns=['Attrition'])
x.shape

(1470, 34)

In [ ]:
y = df['Attrition']
y.shape

(1470,)

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3,random_state=50)

In [ ]:
print('Total df:',df.shape)
print("-----------------------")
print("Input data shape(x):",x.shape)
print("x_train data shape:",x_train.shape)
print("x_test data shape:",x_test.shape)
print("-----------------------")
print("Traget data shape(y):",y.shape)
print("y_train data shape:",y_train.shape)
print("y_test data shape:",y_test.shape)
print("---------------------")

Total df: (1470, 35)
-----------------------
Input data shape(x): (1470, 34)
x_train data shape: (1176, 34)
x_test data shape: (294, 34)
-----------------------
Traget data shape(y): (1470,)
y_train data shape: (1176,)
y_test data shape: (294,)
---------------------

In [ ]:
# df(1470,35) = x(1470,34) + y(1470,1)

# x(1470,34) = x_train(1176,34) + x_test(294,34)

# y(1470,1) = y_train(1176,1) + y_test(294,1)

In [ ]:
# Assignment---->
# On GITHUB there will be a superuser that is Admin. The admin will give access to the rest users to use or edit the application. This will called push and pull process.